<h4><%= t('.title') %></h4>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-all-tab" data-bs-toggle="tab" data-bs-target="#nav-all" type="button" role="tab" aria-controls="nav-all" aria-selected="true"><%= t('statistic.all') %></button>
    <% if @catches_count != 0 %>
      <button class="nav-link" id="nav-water_bioresources-tab" data-bs-toggle="tab" data-bs-target="#nav-water_bioresources" type="button" role="tab" aria-controls="nav-water_bioresources" aria-selected="false"><%= t('navbar.water_bioresources') %></button>
      <button class="nav-link" id="nav-fishing_places-tab" data-bs-toggle="tab" data-bs-target="#nav-fishing_places" type="button" role="tab" aria-controls="nav-fishing_places" aria-selected="false"><%= t('sidebar.fishing_places') %></button>
      <button class="nav-link" id="nav-equipments-tab" data-bs-toggle="tab" data-bs-target="#nav-equipments" type="button" role="tab" aria-controls="nav-equipments" aria-selected="false"><%= t('sidebar.equipments') %></button>
      <button class="nav-link" id="nav-baits-tab" data-bs-toggle="tab" data-bs-target="#nav-baits" type="button" role="tab" aria-controls="nav-baits" aria-selected="false"><%= t('sidebar.baits') %></button>
    <% else %>
      <button class="nav-link" id="nav-water_bioresources-tab" data-bs-toggle="tab" data-bs-target="#nav-water_bioresources" type="button" role="tab" aria-controls="nav-water_bioresources" aria-selected="false" disabled><%= t('navbar.water_bioresources') %></button>
      <button class="nav-link" id="nav-fishing_places-tab" data-bs-toggle="tab" data-bs-target="#nav-fishing_places" type="button" role="tab" aria-controls="nav-fishing_places" aria-selected="false" disabled><%= t('sidebar.fishing_places') %></button>
      <button class="nav-link" id="nav-equipments-tab" data-bs-toggle="tab" data-bs-target="#nav-equipments" type="button" role="tab" aria-controls="nav-equipments" aria-selected="false" disabled><%= t('sidebar.equipments') %></button>
      <button class="nav-link" id="nav-baits-tab" data-bs-toggle="tab" data-bs-target="#nav-baits" type="button" role="tab" aria-controls="nav-baits" aria-selected="false" disabled><%= t('sidebar.baits') %></button>
    <% end %>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab" tabindex="0">
    <div class="my-2">
      <% if @catches.present? %>
        <b><%= t('statistic.catch_all') %></b> <%= @catches.count %> <br>
        <b><%= t('statistic.catch_all_set_free') %></b> <%= @catches_set_free_count %> <br>
        <b><%= t('statistic.catch_all_pick_up') %></b> <%= @catches.count - @catches_set_free_count %> <br>
        <b><%= t('statistic.catch_max_weight') %></b> <%= @catches_max_weight %> <br>
        <b><%= t('statistic.catch_max_length') %></b> <%= @catches_max_length %> <br>
      <% else %>
        <p class="fw-semibold text-danger mt-2"><%= t('statistic.catches_empty') %></p>
      <% end %>
      <b><%= t('statistic.fishing_sessions_count') %></b> <%= @fishing_sessions_count %> <br>
      <% if @fishing_sessions_count != 0 %>
        <b><%= t('statistic.fishing_session_durations') %></b> <%= @fishing_sessions_duration %> <br>
      <% end %>
      <b><%= t('statistic.fishing_places_count') %></b> <%= @fishing_places_count %> <br>
      <b><%= t('statistic.equipments_count') %></b> <%= @equipments_count %> <br>
      <b><%= t('statistic.baits_count') %></b> <%= @baits_count %> <br>
      <b><%= t('statistic.registration_date') %></b> <%= I18n.l(current_user.created_at) %> <br>
    </div>
  </div>

  <div class="tab-pane fade" id="nav-water_bioresources" role="tabpanel" aria-labelledby="nav-water_bioresources-tab" tabindex="0">
    <% if @water_bioresources.present? %>
      <%= render 'shared/statistic/water_bioresources' %>
    <% end %>
  </div>

  <div class="tab-pane fade" id="nav-fishing_places" role="tabpanel" aria-labelledby="nav-fishing_places-tab" tabindex="0">
    <% if @fishing_places.present? %>
      <%= render 'shared/statistic/fishing_places' %>
    <% end %>
  </div>

  <div class="tab-pane fade" id="nav-equipments" role="tabpanel" aria-labelledby="nav-equipments-tab" tabindex="0">
    <% if @equipments.present? %>
      <%= render 'shared/statistic/equipments' %>
    <% else %>
        <p class="fw-semibold text-danger text-center mt-2"><%= t('statistic.equipments_empty') %></p>
    <% end %>
  </div>

  <div class="tab-pane fade" id="nav-baits" role="tabpanel" aria-labelledby="nav-baits-tab" tabindex="0">
    <% if @baits.present? %>
      <%= render 'shared/statistic/baits' %>
    <% else %>
      <p class="fw-semibold text-danger text-center mt-2"><%= t('statistic.baits_empty') %></p>
    <% end %>
  </div>
</div>
