<div class="row mb-2">    
    <% if @tool_type == "equipment" %>
        <div class="col"><h4><%= t('.title_equipments') %></h4></div>
        <div class="col text-end">
            <%= link_to t('button.add.equipment'), new_tool_path(tool_type: "equipment"), :method => :post, class: "btn btn-dark text-info" %>
        </div>
    <% else %>
        <div class="col"><h4><%= t('.title_baits') %></h4></div>
        <div class="col text-end">
            <%= link_to t('button.add.bait'), new_tool_path(tool_type: "bait"), :method => :post, class: "btn btn-dark text-info" %>
        </div>
    <% end %>    
</div>

<% if @tools.present? %>
    <div class="table-responsive">
        <table class="table align-middle table-primary table-striped">
            <tr class="text-center">
                <th style="width: 25%;"><%= t('.name') %></th>
                <th style="width: 55%;"><%= t('.description') %></th>
                <th style="width: 10%;"></th>
                <th style="width: 10%;"></th>
            </tr>
            <% @tools.each do |tool| %>
                <%= render tool %>
            <% end %>
        </table>
    </div>
<% else %>
    <% if @tool_type == "equipment" %>
        <p class="fw-semibold text-danger text-center"><%= t('.equipments_empty') %></p>
    <% else %>
        <p class="fw-semibold text-danger text-center"><%= t('.baits_empty') %></p>
    <% end %>
<% end %>

<%= render 'shared/pagy' %>