<%= form_with(model: water_bioresource) do |form| %>
    <%= render 'shared/form_errors_messages', object: form.object %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <%= form.label :name, t('.name'), style: "display: block" %>
                <%= form.text_field :name, class: "form-control" %>
            </div>

            <div class="col-md-4">
                <%= form.label :resource_type, t('.resource_type'), style: "display: block" %>
                <%= form.select :resource_type, WaterBioresource.resource_types.keys.map{ |key| [WaterBioresource.human_enum_name(:resource_type, key), key] }, {:prompt => t('.prompt'), :selected => form.object.resource_type}, {:class => "form-select"} %>
            </div>

            <div class="col-md-7">
                <%= form.label :latin_name, t('.latin_name'), style: "display: block" %>
                <%= form.text_field :latin_name, class: "form-control" %>
            </div>

            <div class="col-md-7">
                <%= form.label :bioresource_photo, t('.bioresource_photo'), style: "display: block" %>
                <%= cl_image_tag(water_bioresource.bioresource_photo.key, height: 100, crop: :scale) if water_bioresource.bioresource_photo.present? %>
                <%= form.file_field :bioresource_photo, direct_upload: true, class: "form-control" %>
            </div>

            <div class="field">
                <%= form.label :bioresource_description, t('.bioresource_description'), style: "display: block" %>
                <%= form.rich_text_area :bioresource_description %>
            </div>
        </div>

        <div class="row mt-2">
            <div>
                <%= form.button nil, class: "btn btn-success" do %>
                    <%= t('button.submit') %>
                <% end %>
            </div>
        </div>
    </div>

<% end %>