<div class="col-sm-4">
    <div id="<%= dom_id water_bioresource %>">
        <%= link_to water_bioresource, class: "text-decoration-none" do %>
            <div class="card text-bg-light mt-2 mb-3">
                <div class="card-body">
                    <div class="container-image-text">
                        <% if water_bioresource.bioresource_photo.present? %>
                            <img class="mw-100" src="<%= cloudinary_url(water_bioresource.bioresource_photo.key, height: 200, crop: :scale) %>" style="width:100%;">
                        <% else %>
                            <div class="text-center bg-secondary text-white"><br><br><br><%= t('.photo_absent') %><br><br><br><br></div>
                        <% end %>
                        <div class="header-image-text py-2">
                            <h5>
                                <%= water_bioresource.name %> <em class="fs-6 fw-normal">(<%= water_bioresource.latin_name %>)</em>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>