<div class="row mb-2">
    <div class="col"><h4><%= t('.title') %></h4></div>
    <% if can? :create, WaterBioresource %>
        <div class="col text-end">
            <%= link_to t('button.add.water_bioresource'), new_water_bioresource_path, :method => :post, class: "btn btn-dark text-info" %>
        </div>
    <% end %>
</div>

<% if @water_bioresources.present? %>
    <div class="row">
        <% @water_bioresources.each do |water_bioresource| %>
            <%= render water_bioresource %>
        <% end %>
    </div>
<% else %>
    <p class="fw-semibold text-danger text-center"><%= t('.water_bioresources_empty') %></p>
<% end %>

<% if @pagy.pages > 1 %>
    <div class="d-flex justify-content-center">
        <%== pagy_bootstrap_nav(@pagy) %>
    </div>
<% end %>