<div class="row mb-2">
    <div class="col my-1"><h4><%= @water_bioresource.name %> <em>(<%= @water_bioresource.latin_name %>)</em></h4></div>
    <% if can? :create, Catch %>
        <div class="col text-end">
            <% if user_signed_in? %>
                <%= link_to t('button.statistic'), water_bioresources_statistic_path(id: @water_bioresource.id), class: "btn btn-secondary my-1" %>
            <% end %>
            <%= link_to t('button.add.catch'), new_catch_path(water_bioresource_id: @water_bioresource.id), :method => :post, class: "btn btn-success my-1" %>
        </div>
    <% end %>
</div>
<div class="row mx-1">
    <% if @water_bioresource.bioresource_photo.present? %>
        <div class="col-md-6 text-center">
            <img class="mw-100" src="<%= cloudinary_url(@water_bioresource.bioresource_photo.key, height: 200, crop: :scale) %>" >
        </div>
    <% else %>
        <div class="col-3 text-center bg-secondary text-white"><br><br><br><%= t('.photo_absent') %><br><br><br><br></div>
    <% end %>

    <div class="col-md-6 my-2">
        <% if @catch_rate.present? %>
            <h5 class="mb-0"><%= t('.catch_rates') %>
            <% if can? :update, CatchRate %>
                <%= link_to t('button.edit'), edit_catch_rate_path(@catch_rate), class: "btn btn-warning btn-sm" %>
            <% end %>
            <% if can? :destroy, CatchRate %>
                <%= button_to t('button.delete'), @catch_rate, method: :delete, data: { turbo_confirm: t('button.delete_confirm') }, class: "btn btn-danger btn-sm", form: {style: 'display:inline-block;'} %>
            <% end %>
            </h5>
            <b><%= t('.length_dnipro') %>: </b>
                <% if @catch_rate.length_dnipro == 0 %>
                    -
                <% else %>
                    <%= @catch_rate.length_dnipro %> <%= t('.santimetr') %>
                <% end %>
            <br>
            <b><%= t('.length_other') %>: </b>
                <% if @catch_rate.length_other == 0 %>
                    -
                <% else %>
                    <%= @catch_rate.length_other %> <%= t('.santimetr') %>
                <% end %>
            <br>
            <b><%= t('.length_black') %>: </b>
                <% if @catch_rate.length_black == 0 %>
                    -
                <% else %>
                    <%= @catch_rate.length_black %> <%= t('.santimetr') %>
                <% end %>
            <br>
            <b><%= t('.length_azov') %>: </b>
                <% if @catch_rate.length_azov == 0 %>
                    -
                <% else %>
                    <%= @catch_rate.length_azov %> <%= t('.santimetr') %>
                <% end %>
            <br>
        <% else %>
            <% if can? :create, CatchRate %>
                <h5 class="mb-0"><%= t('.catch_rates') %>
                <%= link_to t('button.add.catch_rate'), new_catch_rate_path, :method => :post, class: "btn btn-dark text-info btn-sm" %>
                </h5>
            <% end %>
            <b class="text-danger"><%= t('.catch_forbiden') %></b><br>
        <% end %>

        <% if can? :update, WaterBioresource %>
            <b class="mb-0"><%= t('.resource_type') %></b> <%= WaterBioresource.human_enum_name(:resource_type, @water_bioresource.resource_type) %><br>
        <% end %>

        <% if @water_bioresource.resource_type == "other_fish" && @catch_rate.present? %>
            <b><%= t('.day_rate') %></b><%= t('.day_rate_other') %>
        <% else %>
            <% if @water_bioresource.day_rate.present? %>
                <b><%= t('.day_rate') %></b>
                <% if @water_bioresource.day_rate.catch_amount == 0 %>
                    -
                <% else %>
                    <% if @water_bioresource.day_rate.catch_amount.to_i == @water_bioresource.day_rate.catch_amount %>
                        <%=  @water_bioresource.day_rate.catch_amount.to_i %>
                    <% else %>
                        <%= @water_bioresource.day_rate.catch_amount %>
                    <% end %>
                    <%= DayRate.human_enum_name(:amount_type, @water_bioresource.day_rate.amount_type) %>
                <% end %>
                <% if can? :update, DayRate %>
                    <%= link_to t('button.edit'), edit_day_rate_path(@water_bioresource.day_rate), class: "btn btn-warning btn-sm" %>
                <% end %>
                <% if can? :destroy, DayRate %>
                    <%= button_to t('button.delete'), @water_bioresource.day_rate, method: :delete, data: { turbo_confirm: t('button.delete_confirm') }, class: "btn btn-danger btn-sm", form: {style: 'display:inline-block;'} %>
                <% end %>
            <% else %>
                <% if can? :create, DayRate %>
                    <b><%= t('.day_rate') %></b>
                    <%= link_to t('button.add.day_rate'), new_day_rate_path, :method => :post, class: "btn btn-dark text-info btn-sm" %>
                    <br>
                <% end %>
            <% end %>
        <% end %>
        <% if @rate_penalty.present? %>
            <h5 class="text-danger"><%= t('.rate_penalty') %> <%= @rate_penalty.money %> <%= t('.money') %>
                <% if can? :update, RatePenalty %>
                    <%= link_to t('button.edit'), edit_rate_penalty_path(@rate_penalty), class: "btn btn-warning btn-sm" %>
                <% end %>
                <% if can? :destroy, RatePenalty %>
                        <%= button_to t('button.delete'), @rate_penalty, method: :delete, data: { turbo_confirm: t('button.delete_confirm') }, class: "btn btn-danger btn-sm" , form: {style: 'display:inline-block;'} %>
                <% end %>
            </h5>
        <% else %>
            <% if can? :create, RatePenalty %>
                <h5><%= t('.rate_penalty') %>
                    <%= link_to t('button.add.rate_penalty'), new_rate_penalty_path, :method => :post, class: "btn btn-dark text-info btn-sm" %>
                </h5>
            <% end %>
        <% end %>
    </div>
</div>
<div class="row mx-1">
    <div class="col mt-1">
        <% if @water_bioresource.bioresource_description.present? %>
            <div style="text-align: justify; text-indent: 15px;">
                <%= @water_bioresource.bioresource_description %>
            </div>
        <% else %>
            <%= t('.description_absent') %>
        <% end %>
    </div>
</div>

<div class="row mt-2">
    <div class="col">
        <%= link_to t('button.all.water_bioresources'), water_bioresources_path, class: "btn btn-primary" %>
        <% if can? :update, WaterBioresource %>
            <%= link_to t('button.edit'), edit_water_bioresource_path(@water_bioresource), class: "btn btn-warning" %>
        <% end %>
    </div>
</div>
