<h4><%= @water_bioresource.name %> <em>(<%= @water_bioresource.latin_name %>)</em></h4>
<div class="row mx-1">
    <% if @water_bioresource.bioresource_photo.present? %>
        <div class="col-md-6">
            <img class="mw-100" src="<%= cloudinary_url(@water_bioresource.bioresource_photo.key, height: 200, crop: :scale) %>" >
        </div>
    <% else %>
        <div class="col-3 text-center bg-secondary text-white"><br><br><br><%= t('.photo_absent') %><br><br><br><br></div>
    <% end %>
    
    <div class="col-md-6">
        <% if @catch_rates.present? %>
            <h5 class="mb-0"><%= t('.catch_rates') %></h5>
            <% @catch_rates.each_pair do |key_where_catch, value_length| %>
                <b><%= CatchRate.human_enum_name(:where_catch, key_where_catch) %>: </b> 
                <% if value_length == 0 %>
                    -
                <% else %>
                    <%= value_length %> <%= t('.santimetr') %>
                <% end %>
                <br>
            <% end %>
        <% end %>
        <% if @rate_penalty.present? %>
            <h5><%= t('.rate_penalty') %> <%= @rate_penalty %> <%= t('.money') %></h5>            
        <% end %>
    </div>    
</div>
<div class="row mx-1">
    <div class="col mt-1">
        <% if @water_bioresource.bioresource_description.present? %>
            <div style="text-align: justify; text-indent: 15px;">
                <%= @water_bioresource.bioresource_description %>
            </div>
        <% else %>
            <%= t('.description_absent') %>
        <% end %>
    </div>
</div>

<div class="row mt-2">
    <div class="col-md-6">
        <%= link_to t('button.all.water_bioresources'), water_bioresources_path, class: "btn btn-primary" %>
        <% if can? :update, WaterBioresource %>
            <%= link_to t('button.edit'), edit_water_bioresource_path(@water_bioresource), class: "btn btn-warning" %>
        <% end %>
    </div>
</div>
