<h4>
  <%= t('.title') %>
  <%= link_to @water_bioresource, class: "text-reset text-decoration-none" do %>
    "<%= @water_bioresource.name %> (<%= @water_bioresource.latin_name %>)"
  <% end %>
</h4>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-catches-tab" data-bs-toggle="tab" data-bs-target="#nav-catches" type="button" role="tab" aria-controls="nav-catches" aria-selected="true"><%= t('sidebar.catches') %></button>
    <% if @catches.present? %>
      <button class="nav-link" id="nav-fishing_places-tab" data-bs-toggle="tab" data-bs-target="#nav-fishing_places" type="button" role="tab" aria-controls="nav-fishing_places" aria-selected="false"><%= t('sidebar.fishing_places') %></button>
      <button class="nav-link" id="nav-equipments-tab" data-bs-toggle="tab" data-bs-target="#nav-equipments" type="button" role="tab" aria-controls="nav-equipments" aria-selected="false"><%= t('sidebar.equipments') %></button>
      <button class="nav-link" id="nav-baits-tab" data-bs-toggle="tab" data-bs-target="#nav-baits" type="button" role="tab" aria-controls="nav-baits" aria-selected="false"><%= t('sidebar.baits') %></button>
    <% else %>
      <button class="nav-link" id="nav-fishing_places-tab" data-bs-toggle="tab" data-bs-target="#nav-fishing_places" type="button" role="tab" aria-controls="nav-fishing_places" aria-selected="false" disabled><%= t('sidebar.fishing_places') %></button>
      <button class="nav-link" id="nav-equipments-tab" data-bs-toggle="tab" data-bs-target="#nav-equipments" type="button" role="tab" aria-controls="nav-equipments" aria-selected="false" disabled><%= t('sidebar.equipments') %></button>
      <button class="nav-link" id="nav-baits-tab" data-bs-toggle="tab" data-bs-target="#nav-baits" type="button" role="tab" aria-controls="nav-baits" aria-selected="false" disabled><%= t('sidebar.baits') %></button>
    <% end %>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-catches" role="tabpanel" aria-labelledby="nav-catches-tab" tabindex="0">
    <% if @catches.present? %>
      <%= render 'shared/statistic/catches' %>
    <% else %>
      <p class="fw-semibold text-danger text-center mt-2"><%= t('statistic.catches_empty') %></p>
    <% end %>
  </div>

  <div class="tab-pane fade" id="nav-fishing_places" role="tabpanel" aria-labelledby="nav-fishing_places-tab" tabindex="0">
    <% if @fishing_places.present? %>
      <%= render 'shared/statistic/fishing_places' %>
    <% end %>
  </div>

  <div class="tab-pane fade" id="nav-equipments" role="tabpanel" aria-labelledby="nav-equipments-tab" tabindex="0">
    <% if @equipments.present? %>
      <%= render 'shared/statistic/equipments' %>
    <% else %>
      <p class="fw-semibold text-danger text-center mt-2"><%= t('statistic.equipments_empty') %></p>
    <% end %>
  </div>

  <div class="tab-pane fade" id="nav-baits" role="tabpanel" aria-labelledby="nav-baits-tab" tabindex="0">
    <% if @baits.present? %>
      <%= render 'shared/statistic/baits' %>
      </div>
    <% else %>
      <p class="fw-semibold text-danger text-center mt-2"><%= t('statistic.baits_empty') %></p>
    <% end %>
  </div>
</div>
