<h4><%= t('.title') %> "<%= @water_bioresource.name %> (<%= @water_bioresource.latin_name %>)"</h4>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-catches-tab" data-bs-toggle="tab" data-bs-target="#nav-catches" type="button" role="tab" aria-controls="nav-catches" aria-selected="true"><%= t('sidebar.catches') %></button>
    <% if @catches.present? %>
      <button class="nav-link" id="nav-fishing_places-tab" data-bs-toggle="tab" data-bs-target="#nav-fishing_places" type="button" role="tab" aria-controls="nav-fishing_places" aria-selected="false"><%= t('sidebar.fishing_places') %></button>
      <button class="nav-link" id="nav-equipments-tab" data-bs-toggle="tab" data-bs-target="#nav-equipments" type="button" role="tab" aria-controls="nav-equipments" aria-selected="false"><%= t('sidebar.equipments') %></button>
      <button class="nav-link" id="nav-baits-tab" data-bs-toggle="tab" data-bs-target="#nav-baits" type="button" role="tab" aria-controls="nav-baits" aria-selected="false"><%= t('sidebar.baits') %></button>
    <% else %>
      <button class="nav-link" id="nav-fishing_places-tab" data-bs-toggle="tab" data-bs-target="#nav-fishing_places" type="button" role="tab" aria-controls="nav-fishing_places" aria-selected="false" disabled><%= t('sidebar.fishing_places') %></button>
      <button class="nav-link" id="nav-equipments-tab" data-bs-toggle="tab" data-bs-target="#nav-equipments" type="button" role="tab" aria-controls="nav-equipments" aria-selected="false" disabled><%= t('sidebar.equipments') %></button>
      <button class="nav-link" id="nav-baits-tab" data-bs-toggle="tab" data-bs-target="#nav-baits" type="button" role="tab" aria-controls="nav-baits" aria-selected="false" disabled><%= t('sidebar.baits') %></button>
    <% end %>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-catches" role="tabpanel" aria-labelledby="nav-catches-tab" tabindex="0">
    <% if @catches.present? %>
      <div class="my-2">
        <b><%= t('statistic.catch_all') %></b> <%= @catches.count %> <br>
        <b><%= t('statistic.catch_max_weight') %></b> <%= @catches_max_weight %> <br>
        <b><%= t('statistic.catch_max_length') %></b> <%= @catches_max_length %> <br>
      </div>

      <div class="table-responsive">
        <table class="table align-middle table-primary table-striped">
          <tr class="text-center">
            <th style="width: 15%;"><%= t('statistic.catch_time') %></th>
            <th style="width: 20%;"><%= t('statistic.water_bioresource') %></th>
            <th style="width: 15%;"><%= t('statistic.catch_length') %></th>
            <th style="width: 15%;"><%= t('statistic.catch_weight') %></th>
            <th style="width: 15%;"><%= t('statistic.catch_result') %></th>
            <th style="width: 10%;"></th>
            <th style="width: 10%;"></th>
          </tr>
          <% @catches.each do |catch| %>
            <%= render 'catches/catch', catch: catch %>
          <% end %>
        </table>
      </div>
      <%= render 'shared/pagy' %>
    <% else %>
      <p class="fw-semibold text-danger text-center mt-2"><%= t('statistic.catches_empty') %></p>
    <% end %>    
  </div>

  <div class="tab-pane fade" id="nav-fishing_places" role="tabpanel" aria-labelledby="nav-fishing_places-tab" tabindex="0">
    <% if @fishing_places.present? %>
      <%= pie_chart @fishing_places %>
      <div class="table-responsive mt-2">
        <table class="table align-middle table-primary table-striped">
          <tr class="text-center">
            <th><%= t('statistic.location_name') %></th>
            <% @fishing_places.each_key do |key| %>
              <th><%= key %></th>
            <% end %>
          </tr>
          <tr class="text-center">
            <td><%= t('statistic.quantity') %></td>
            <% @fishing_places.each_value do |value| %>
              <td><%= value %></td>
            <% end %>
            </tr>
        </table>
      </div>
    <% end %>
  </div>

  <div class="tab-pane fade" id="nav-equipments" role="tabpanel" aria-labelledby="nav-equipments-tab" tabindex="0">
    <% if @equipments.present? %>
      <%= pie_chart @equipments %>
      <div class="table-responsive mt-2">
        <table class="table align-middle table-primary table-striped">
          <tr class="text-center">
            <th><%= t('statistic.equipment_name') %></th>
            <% @equipments.each_key do |key| %>
              <th><%= key %></th>
            <% end %>
          </tr>
          <tr class="text-center">
            <td><%= t('statistic.quantity_from') %> <%= @catches.count %>:</td>
            <% @equipments.each_value do |value| %>
              <td><%= value %></td>
            <% end %>
          </tr>
        </table>
      </div>
    <% else %>
      <p class="fw-semibold text-danger text-center mt-2"><%= t('statistic.equipments_empty') %></p>
    <% end %>
  </div>

  <div class="tab-pane fade" id="nav-baits" role="tabpanel" aria-labelledby="nav-baits-tab" tabindex="0">
    <% if @baits.present? %>
      <%= pie_chart @baits %>
      <div class="table-responsive mt-2">
        <table class="table align-middle table-primary table-striped">
          <tr class="text-center">
            <th><%= t('statistic.bait_name') %></th>
            <% @baits.each_key do |key| %>
              <th><%= key %></th>
            <% end %>
          </tr>
          <tr class="text-center">
            <td><%= t('statistic.quantity_from') %> <%= @catches.count %>:</td>
            <% @baits.each_value do |value| %>
              <td><%= value %></td>
            <% end %>
          </tr>
        </table>
      </div>
    <% else %>
      <p class="fw-semibold text-danger text-center mt-2"><%= t('statistic.baits_empty') %></p>
    <% end %>
  </div>
</div>

