<%= form_with(model: tool_catch) do |form| %>
    <%= render 'shared/form_errors_messages', object: form.object %>

    <div class="container-fluid">
        <div class="row">
            <% if @tool_type == "equipment" %>
                <div class="col">
                    <%= form.label :tool_id, t('.tool_equipment'), style: "display: block" %>
                    <%= select(:tool_catch, :tool_id, options_for_select(@tool_equipments, :selected => form.object.tool_id), {}, {:class => "form-select"}) %>
                </div>
            <% end %>

            <% if @tool_type == "bait" %>
                <div class="col">
                    <%= form.label :tool_id, t('.tool_bait'), style: "display: block" %>
                    <%= select(:tool_catch, :tool_id, options_for_select(@tool_baits, :selected => form.object.tool_id), {}, {:class => "form-select"}) %>
                </div>
            <% end %>

            <div>
                <%= form.hidden_field :catch_id %>
            </div>
        </div>

        <div class="row mt-2">
            <div>
                <%= form.button nil, class: "btn btn-success" do %>
                    <%= t('button.submit') %>
                <% end %>
            </div>
        </div>
    </div>

<% end %>