<div class="row mb-2">
    <div class="col"><h4><%= t('.title') %></h4></div>
    <div class="col text-end">
        <%= link_to t('button.add.catch'), new_catch_path, :method => :post, class: "btn btn-dark text-info" %>
    </div>
</div>

<% if @catches.present? %>
    <div class="table-responsive">
        <table class="table align-middle table-primary table-striped">
            <tr class="text-center">
                <th style="width: 15%;"><%= t('.catch_time') %></th>
                <th style="width: 20%;"><%= t('.water_bioresource') %></th>
                <th style="width: 15%;"><%= t('.catch_length') %></th>
                <th style="width: 15%;"><%= t('.catch_weight') %></th>
                <th style="width: 15%;"><%= t('.catch_result') %></th>
                <th style="width: 10%;"></th>
                <th style="width: 10%;"></th>
            </tr>
            <% @catches.each do |catch| %>
                <%= render catch %>
            <% end %>
        </table>
    </div>
<% else %>
    <p class="fw-semibold text-danger text-center"><%= t('.catches_empty') %></p>
<% end %>

<%= render 'shared/pagy' %>