<div class="row mb-2">
    <div class="col"><h4><%= t('.title') %></h4></div>
</div>

<div class="row">    
    <div class="col-12 fs-5">
        <b><%= t('.catch_time') %></b> <%= I18n.l(@catch.catch_time) %> <br>
        <b><%= t('.fishing_session') %></b> <%= I18n.l(@catch.fishing_session.start_at) %> - 
        <% if @catch.fishing_session.end_at.present? %>
            <%= I18n.l(@catch.fishing_session.end_at) %><br>
        <% else %>
            <%= t('.end_at_empty') %> <br>
        <% end %>
        <b><%= t('.fishing_place') %></b> <%= @catch.fishing_place.name %> <br>
        <b><%= t('.water_bioresource') %></b> <%= @catch.water_bioresource.name %> <br>
        <b><%= t('.catch_length') %></b> <%= @catch.catch_length %> <br>
        <b><%= t('.catch_weight') %></b> <%= @catch.catch_weight %> <br>
        <b><%= t('.catch_result') %></b> <%= Catch.human_enum_name(:catch_result, @catch.catch_result) %> <br>
    </div>
    <div class="col-12 my-2">
        <% if @catch.catch_photos.attached? %>
            <% @catch.catch_photos.each do |photo| %>
                <%= cl_image_tag(photo.key, width: 200, crop: :scale) %>
            <% end %>
        <% end %>
    </div>
</div>


<div class="row mt-2">
    <div class="col md-6">
        <%= link_to t('button.all.catches'), catches_path, class: "btn btn-primary" %>
        <% if @catch.fishing_session.end_at.blank? %>
            <%= link_to t('button.edit'), edit_catch_path(@catch), class: "btn btn-warning" %>
        <% end %>
    </div>
</div>