<%= form_with(model: catch_rate) do |form| %>
    <%= render 'shared/form_errors_messages', object: form.object %>

    <div class="container-fluid">
        <div class="row">
            <% unless @where_catch.present? %>
                <div class="col-md-7">
                    <%= form.label :water_bioresource_id, t('.water_bioresource'), style: "display: block" %>
                    <%= select(:catch_rate, :water_bioresource_id, options_for_select(@water_bioresources, :selected => form.object.water_bioresource_id), {:prompt => t('.prompt')}, {:class => "form-select"}) %>
                </div>

                <div class="col-md-4">
                    <%= form.label :where_catch, t('.where_catch'), style: "display: block" %>
                    <%= form.select :where_catch, CatchRate.where_catches.keys.map{ |key| [CatchRate.human_enum_name(:where_catch, key), key] }, {:prompt => t('.prompt'), :selected => form.object.where_catch}, {:class => "form-select"} %>
                </div>
            <% end %>

            <div class="col-md-7">
                <%= form.label :length, t('.length'), style: "display: block" %>
                <%= form.number_field :length, value: form.object.length || 0, min: 0, step: 0.1, class: "form-control" %>
            </div>
        </div>

        <div class="row mt-2">
            <div>
                <%= form.button nil, class: "btn btn-success" do %>
                    <%= t('button.submit') %>
                <% end %>
            </div>
        </div>
    </div>

<% end %>