<%= form_with(model: catch_rate) do |form| %>
    <%= render 'shared/form_errors_messages', object: form.object %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <%= form.label :water_bioresource_id, t('.water_bioresource'), style: "display: block" %>
                <%= select(:catch_rate, :water_bioresource_id, options_for_select(@water_bioresources, :selected => form.object.water_bioresource_id), {:prompt => t('.prompt')}, {:class => "form-select"}) %>
            </div>
            
            <div class="col-md-6">
                <%= form.label :length_dnipro, t('.length_dnipro'), style: "display: block" %>
                <%= form.number_field :length_dnipro, value: form.object.length_dnipro, step: 0.1, min: 0, max: 999.9, class: "form-control" %>
            </div>

            <div class="col-md-6">
                <%= form.label :length_other, t('.length_other'), style: "display: block" %>
                <%= form.number_field :length_other, value: form.object.length_other, step: 0.1, min: 0, max: 999.9, class: "form-control" %>
            </div>

            <div class="col-md-6">
                <%= form.label :length_black, t('.length_black'), style: "display: block" %>
                <%= form.number_field :length_black, value: form.object.length_black, step: 0.1, min: 0, max: 999.9, class: "form-control" %>
            </div>

            <div class="col-md-6">
                <%= form.label :length_azov, t('.length_azov'), style: "display: block" %>
                <%= form.number_field :length_azov, value: form.object.length_azov, step: 0.1, min: 0, max: 999.9, class: "form-control" %>
            </div>

            <div class="col-12 my-2"><%= t('.day_rate_instruction') %></div>
        </div>

        <div class="row mt-2">
            <div>
                <%= form.button nil, class: "btn btn-success" do %>
                    <%= t('button.submit') %>
                <% end %>
            </div>
        </div>
    </div>

<% end %>