<div class="row mb-2">
    <div class="col">
        <h4><%= t('.title') %>
            <% if @where_catch.present? %>
                (<%= CatchRate.human_enum_name(:where_catch, @where_catch) %>)
            <% end %>
        </h4>
    </div>
    <% if can? :create, CatchRate %>
        <div class="col text-end">
            <%= link_to t('button.add.catch_rate'), new_catch_rate_path, :method => :post, class: "btn btn-dark text-info" %>
        </div>
    <% end %>
</div>

<% if @catch_rates.present? %>
    <div class="table-responsive">
        <table class="table align-middle table-primary table-striped table-bordered border-dark-subtle">
            <tr class="text-center">
                <th style="width: 20%;", rowspan="3"><%= t('.water_bioresource') %></th>
                <th style="width: 60%,", colspan="4"><%= t('.length') %></th>
            <% if can? :update, CatchRate %>
                <th style="width: 10%;", rowspan="3"></th>
            <% end %>
            <% if can? :destroy, CatchRate %>
                <th style="width: 10%;", rowspan="3"></th>
            <% end %>
            </tr>
            <tr class="text-center">
                <th style="width: 30%,", colspan="2"><%= t('.length_inner') %></th>
                <th style="width: 15%;", rowspan="2"><%= t('.length_black') %></th>
                <th style="width: 15%;",  rowspan="2"><%= t('.length_azov') %></th>
            </tr>
            <tr class="text-center">
                <th style="width: 15%;"><%= t('.length_dnipro') %></th>
                <th style="width: 15%;"><%= t('.length_other') %></th>
            </tr>
            <% @catch_rates.each do |catch_rate| %>
                <%= render catch_rate %>
            <% end %>
        </table>
    </div>
    <%= render 'shared/pagy' %>
    <div class="row mb-2">
        <div class="col"><%= t('.subtitle_html') %></div>
    </div>
<% else %>
    <p class="fw-semibold text-danger text-center"><%= t('.catch_rates_empty') %></p>
<% end %>
