<nav class="navbar navbar-expand-md fixed-top bg-primary">
    <div class="container-fluid">
        <%= link_to t('appname'), root_path, class: "navbar-brand text-bg-primary" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <%= link_to t('navbar.home'), root_path, class: "nav-link" %>
                </li>
            </ul>
        </div>
      <div>
        <% if user_signed_in? %>
            <%= current_user.email %>
            <%= link_to t('button.authorization.edit'), edit_user_registration_path, class: "btn btn-light" %>
            <%= button_to t('button.authorization.logout'), destroy_user_session_path, method: :delete, class: "btn btn-light" %>
        <% else %>
            <%= link_to t('button.authorization.login'), new_user_session_path, class: "btn btn-light" %>
            <%= link_to t('button.authorization.new'), new_user_registration_path, class: "btn btn-light" %>
        <% end %>
      </div>
    </div>
</nav>