<nav class="navbar navbar-expand-md fixed-top bg-primary-subtle text-primary-emphasis">
    <div class="container-fluid">
        <%= link_to root_path, class: "navbar-brand" do %>
            <i class="bi bi-p-square"></i> <%= t('appname') %>
        <% end %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <%= link_to root_path, class: "nav-link" do %>
                        <i class="bi bi-newspaper"></i> <%= t('navbar.news') %>
                    <% end %>
                </li>
                <li class="nav-item">
                    <%= link_to water_bioresources_path, class: "nav-link" do %>
                        <i class="bi bi-water"></i> <%= t('navbar.water_bioresources') %>
                    <% end %>
                </li>                
                <li class="nav-item">
                    <%= link_to catch_rates_path, class: "nav-link" do %>
                        <i class="bi bi-exclamation-triangle"></i> <%= t('navbar.catch_rates') %>
                    <% end %>
                </li>
                <li class="nav-item">
                    <%= link_to day_rates_path, class: "nav-link" do %>
                        <i class="bi bi-calendar-day"></i> <%= t('navbar.day_rates') %>
                    <% end %>
                </li>
                <li class="nav-item">
                    <%= link_to rate_penalties_path, class: "nav-link" do %>
                        <i class="bi bi-coin"></i> <%= t('navbar.rate_penalties') %>
                    <% end %>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto mb-lg-0">
                <li class="nav-item my-1">
                    <%= link_to new_user_session_path, class: "btn btn-outline-dark btn-sm" do %>
                        <i class="bi bi-door-open"></i> <%= t('button.authorization.login') %>
                    <% end %>
                </li>
            </ul>
        </div>
    </div>
</nav>