<div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
    <%= link_to root_path, class: "d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-info text-decoration-none" do %>
        <span><i class="bi bi-p-square"></i> <span class="d-none d-sm-inline"><%= t('appname') %></span></span>
    <% end %>
    <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
        <li class="nav-item">
            <%= link_to root_path, class: "nav-link px-sm-0 px-2" do %>
                <i class="bi bi-calendar3"></i> <span class="ms-1 d-none d-sm-inline"><%= t('sidebar.fishing_sessions') %></span>
            <% end %>
        </li>
        <li class="nav-item">
            <%= link_to root_path, class: "nav-link px-sm-0 px-2" do %>
                <i class="bi bi-bucket"></i> <span class="ms-1 d-none d-sm-inline"><%= t('sidebar.catches') %></span>
            <% end %>
        </li>
        <li class="nav-item">
            <%= link_to fishing_places_path, class: "nav-link px-sm-0 px-2" do %>
                <i class="bi bi-geo-alt"></i> <span class="ms-1 d-none d-sm-inline"><%= t('sidebar.fishing_places') %></span>
            <% end %>
        </li>
        <li class="nav-item">
            <%= link_to root_path, class: "nav-link px-sm-0 px-2" do %>
                <i class="bi bi-tools"></i> <span class="ms-1 d-none d-sm-inline"><%= t('sidebar.equipments') %></span>
            <% end %>
        </li>
        <li class="nav-item">
            <%= link_to root_path, class: "nav-link px-sm-0 px-2" do %>
                <i class="bi bi-stars"></i> <span class="ms-1 d-none d-sm-inline"><%= t('sidebar.baits') %></span>
            <% end %>
        </li>
        <hr>
        <li class="nav-item">
            <%= link_to root_path, class: "nav-link px-sm-0 px-2" do %>
                <i class="bi bi-newspaper"></i> <span class="ms-1 d-none d-sm-inline"><%= t('navbar.news') %></span>
            <% end %>
        </li>
        <li class="nav-item">
            <%= link_to catch_rates_path, class: "nav-link px-sm-0 px-2" do %>
                <i class="bi bi-exclamation-triangle"></i> <span class="ms-1 d-none d-sm-inline"><%= t('navbar.catch_rates') %></span>
            <% end %>
        </li>
        <% if can? :read, WaterBioresource %>
            <li class="nav-item">
                <%= link_to water_bioresources_path, class: "nav-link px-sm-0 px-2" do %>
                    <i class="bi bi-water"></i> <span class="ms-1 d-none d-sm-inline"><%= t('sidebar.water_bioresources') %></span>
                <% end %>
            </li>
        <% end %>
        <% if can? :read, RatePenalty %>
            <li class="nav-item">
                <%= link_to rate_penalties_path, class: "nav-link px-sm-0 px-2" do %>
                    <i class="bi bi-coin"></i> <span class="ms-1 d-none d-sm-inline"><%= t('sidebar.rate_penalties') %></span>
                <% end %>
            </li>
        <% end %>
    </ul>

    <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
        <a href="#" class="d-flex align-items-center text-info text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i> <span class="d-none d-sm-inline mx-1"><%= t('sidebar.profile') %></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li>
                <%= link_to edit_user_registration_path, class: "dropdown-item text-info" do %>
                    <i class="bi bi-gear"></i> <%= t('sidebar.edit_profile') %>
                <% end %>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <%= button_to destroy_user_session_path, method: :delete, class: "dropdown-item text-info" do %>
                    <i class="bi bi-door-open"></i> <%= t('button.authorization.logout') %>
                <% end %>
            </li>
        </ul>
    </div>
</div>
