<div class="row mb-2">
    <div class="col">
        <h4><%= t('.title') %></h4>
    </div>
    <% if can? :create, DayRate %>
        <div class="col text-end">
            <%= link_to t('button.add.day_rate'), new_day_rate_path, :method => :post, class: "btn btn-dark text-info" %>
        </div>
    <% end %>
</div>

<% if @day_rates.present? %>
    <div class="table-responsive">
        <table class="table align-middle table-primary table-striped">
            <tr class="text-center">
                <th style="width: 40%;"><%= t('.water_bioresource') %></th>
                <th style="width: 30%;"><%= t('.catch_amount') %></th>
            <% if can? :update, DayRate %>
                <th style="width: 15%;"></th>
            <% end %>
            <% if can? :destroy, DayRate %>
                <th style="width: 15%;"></th>
            <% end %>
            </tr>
            <% @day_rates.each do |day_rate| %>
                <%= render day_rate %>
            <% end %>
        </table>
    </div>
    <div class="row mb-2">
        <div class="col fw-bold"><%= t('.subtitle') %></div>
    </div>
<% else %>
    <p class="fw-semibold text-danger text-center"><%= t('.day_rates_empty') %></p>
<% end %>

<%= render 'shared/pagy' %>