<tr id="<%= dom_id fishing_place %>" class="text-center">
    <td style="width: 25%;"><%= fishing_place.name %></td>
    <td style="width: 50%; text-align: justify"><%= fishing_place.description %></td>
    <td style="width: 15%;"><%= FishingPlace.human_enum_name(:where_catch, fishing_place.where_catch) %></td>
    <td style="width: 25%;">
        <%= link_to t('button.edit'), edit_fishing_place_path(fishing_place), class: "btn btn-warning btn-sm" %>
    </td>

</tr>