<div class="row mb-2">
    <div class="col"><h4><%= t('.title') %></h4></div>
    <div class="col text-end">
        <%= link_to t('button.add.fishing_place'), new_fishing_place_path, :method => :post, class: "btn btn-dark text-info" %>
    </div>
</div>

<% if @fishing_places.present? %>
    <div class="table-responsive">
        <table class="table align-middle table-primary table-striped">
            <tr class="text-center">
                <th style="width: 20%;"><%= t('.name') %></th>
                <th style="width: 45%;"><%= t('.description') %></th>
                <th style="width: 15%;"><%= t('.where_catch') %></th>
                <th style="width: 10%;"></th>
                <% if user_signed_in? %>
                    <th style="width: 10%;"></th>
                <% end %>                
            </tr>
            <% @fishing_places.each do |fishing_place| %>
                <%= render fishing_place %>
            <% end %>
        </table>
    </div>
<% else %>
    <p class="fw-semibold text-danger text-center"><%= t('.fishing_places_empty') %></p>
<% end %>

<%= render 'shared/pagy' %>