<!DOCTYPE html>
<html>
  <head>
    <title><%= t('appname') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= render 'shared/header' %>
    </header>

    <main class="flex-shrink-0">
      <div class="container mt-5 pt-5">
        <%= render 'shared/flash_messages' %>
        <%= yield %>
        </div>
    </main>

    <footer class="footer fixed-bottom mt-auto py-3 bg-body-tertiary">
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
