<!DOCTYPE html>
<html>
  <head>
    <title><%= t('appname') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  
  <% if user_signed_in? %>
    <body>
      <div class="container-fluid overflow-hidden">
        <div class="row vh-100 overflow-auto">
          <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top">
            <%= render 'shared/sidebar' %>
          </div>

          <div class="col d-flex flex-column h-100" style="flex: 1; min-width: 0;">
            <main class="row">
              <div class="col pt-4">
                <%= render 'shared/flash_messages' %>
                <%= yield %>
              </div>
            </main>

            <footer class="row bg-light py-1 mt-auto">
              <div class="col">
                <%= render 'shared/footer' %>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </body>
  <% else %>
    <body class="bg-primary-subtle">
      <header>
        <%= render 'shared/header' %>
      </header>

      <main class="flex-shrink-0 bg-light-subtle">
          <div class="container mt-5 pt-4 pb-2">
            <%= render 'shared/flash_messages' %>
            <%= yield %>
          </div>
      </main>

      <footer class="footer mt-auto py-3 bg-primary-subtle text-primary-emphasis">
        <%= render 'shared/footer' %>
      </footer>
      </body>
  <% end %>
  
</html>
